<h1>Creating article category</h1>
<div class="col-12">
  <%= form_for [:admin, @article_category], html: {multipart: true} do |form| %>
    <%= render partial: 'form', locals:{f: form} %>
    <%= form.submit %>
  <% end %>
</div>
